.Publish_ItemDisplay
{
	clear:both;
}

/* form elements */
.input_dropdown, .input_textbox
{
	font-size: 11px;
}

.rightAlign
{
    text-align: right;
}

/*nowrap only work when applied to a td directly (either as <td class="nowrap"> or <table class="nowrapTable">)*/
.nowrap
{
    white-space: normal;
}

.nowrapTable td
{
    white-space: nowrap;
}

.Help
{
    white-space: normal;
}

/*Article Edit*/
.editTableLabelColumn
{
    vertical-align: text-top;
    text-align: right;
    width:20%;
}

.fullWidth
{
    width:100%;
}

/* admin styles */
.SettingsTable
{
	width:550px;
	text-align:left;
}
.SettingsTable td
{
	padding:3px;
    width:50%;
}
.SettingsTable tr
{
	vertical-align:top;
}
.AdminSettingsTable
{
	width: 100%;
}

.chooseArticleListDropDown
{
    width: 100%;
}

.configureOverrideable .categoryOptionDropDown, .configureOverrideable .articleOptionDropDown
{
    display:none;
}

.admin_toolbar
{
	clear:both;
}
.admin_item
{
	width: 70px;
	float: left;
	text-align: center;
}
.admin_item_icon
{
	width: 70px;
	
}
.admin_item_text
{
	width: 70px;
	padding-top: 5px;
	clear: both;
}

.admin_item_articles
{
	background:url(admin/images/articles.gif);
	background-repeat:no-repeat;
}
.admin_item_articles_sel
{
	background:url(admin/images/articles_sel.gif);
	background-repeat:no-repeat;
}

.admin_item_categories
{
	background:url(admin/images/categories.gif);
	background-repeat:no-repeat;
}
.admin_item_categories_sel
{
	background:url(admin/images/categories_sel.gif);
	background-repeat:no-repeat;
}

.admin_item_settings
{
	background:url(admin/images/settings.gif);
	background-repeat:no-repeat;
}
.admin_item_settings_sel
{
	background:url(admin/images/settings_sel.gif);
	background-repeat:no-repeat;
}

.admin_item_comments
{
	background:url(admin/images/comments.gif);
	background-repeat:no-repeat;
}
.admin_item_comments_sel
{
	background:url(admin/images/comments_sel.gif);
	background-repeat:no-repeat;
}

.admin_item_help
{
	background:url(admin/images/help.gif);
	background-repeat:no-repeat;
}
.admin_item_help_sel
{
	background:url(admin/images/help_sel.gif);
	background-repeat:no-repeat;
}


.admin_item_delete
{
	background:url(admin/images/delete.gif);
	background-repeat:no-repeat;
}
.admin_item_delete_sel
{
	background:url(admin/images/delete_sel.gif);
	background-repeat:no-repeat;
}

.admin_item_syndication
{
	background:url(admin/images/syndication.gif);
	background-repeat:no-repeat;
}
.admin_item_syndication_sel
{
	background:url(admin/images/syndication_sel.gif);
	background-repeat:no-repeat;	
}

.admin_item_admintools
{
	background:url(admin/images/admintools.gif);
	background-repeat:no-repeat;
}
.admin_item_admintools_sel
{
	background:url(admin/images/admintools_sel.gif);
	background-repeat:no-repeat;
}



.divAdminItemSearch
{
    padding:5px 5px 0 5px;
	width:100%;
	background-color:#fff;
	border:solid 1px #000;
}

.adminItemSearchDarkRow
{
	background-color: #f1f1f1;
	width:100%;	
}

.adminItemSearchLightRow
{
	background-color: #fff;
	width:100%;
}

.adminSearchResultsLightRow
{
	background-color:#FFF2D8;
	width:100%;
}

.adminSearchResultsLight2Row
{
	background-color:#FFFAF2;
	padding:15px;
	width:100%;
}

.adminSearchResultsLightRow td.adminSearchResultsThumbRow
{
	background-color:#DAF2DA;
	width:85px;
}

.adminSearchResultsLight2Row td.adminSearchResultsThumbRow
{
	background-color:#C2EBC3;
	width:85px;
}


.adminSearchResultstable,
.adminSearchResultsTable td
{
	padding:3px;
}
.adminSearchResultsHeader
{
	background-color:#f56b0c;
	border-left:solid 1px #000;
	border-top:solid 1px #000;
	border-right:solid 1px #000;
	border-bottom:solid 1px #000;
	color:#fcd1b3;
	font-weight:bold;
}

.adminItemSearchDrop
{
	float:right;
	display:inline;
}

.adminItemSearchLabel
{
	float:left;
	padding-left:25px;
}

.error
{
	color:Red;
	font-weight:bold;
}

.ErrorBody
{
	background:#FDE0E0 none repeat scroll 0 0;
	border:2px solid #FF0000;
	color:Red;
}

.mmText
{
	height:100%;
	margin:0 auto;
	overflow:hidden;
	padding:0.675em 0.675em 1em;
}


/*articles for admin item search, not used anymore */
#articleDiv .divAdminItemSearch
{
    padding:5px;
	padding-bottom:0;
	width:100%;
	background-color:#fff;
	border:solid 1px #FFCC66;
}

#articleDiv .adminItemSearchDarkRow
{
	background-color:#FFCC66;
	margin-bottom:5px;
	padding:3px;
	width:100%;	
}

#articleDiv .adminItemSearchLightRow
{
	background-color:#FFF2D8;
	margin-bottom:5px;
	padding:3px;
	width:100%;
}

#articleDiv .adminSearchResultsLightRow
{
	background-color:#FFF2D8;
	width:100%;
}

#articleDiv .adminSearchResultsLight2Row
{
	background-color:#FFFAF2;
	padding:15px;
	width:100%;
}

#articleDiv .adminSearchResultsLightRow td.adminSearchResultsThumbRow
{
	background-color:#DAF2DA;
	width:85px;
}

#articleDiv .adminSearchResultsLight2Row td.adminSearchResultsThumbRow
{
	background-color:#C2EBC3;
	width:85px;
}


#articleDiv .adminSearchResultstable,
#articleDiv .adminSearchResultsTable td
{
	padding:3px;
}
#articleDiv .adminSearchResultsHeader
{
	background-color:#f56b0c;
	color:#fff;
}

#articleDiv .adminItemSearchDrop
{
	float:right;
	display:inline;
}

#articleDiv .adminItemSearchLabel
{
	float:left;
	padding-left:25px;
}



/*
**********************************************
Module CSS
**********************************************
*/


/*Related Item CSS*/
.divRelatedItems
{
	background-color:#737D89;
	width: 225px;
	padding: 5px 5px 5px 5px;
	color:White;
	margin-bottom: 10px;
}

.divRelatedItems .title
{
	text-align: center;
	width: 215px;
}

.divRelatedItems .image
{
	margin-top: 10px;
	margin-right: 5px;
	border: solid 1px #000;
}
	
.divRelatedItems .noimage
{
	margin-top: 10px;
	margin-right: 5px;
}
	
.divRelatedItems .text
{
	color: #fff;
	font-size:12px;
}

.divRelatedItems a.text,
.divRelatedItems a.text:hover,
.divRelatedItems a.text:visited
{
	color: #fff;
	font-weight:bold;
	text-decoration:underline;
}
	

.divNavigationMenu
{
	width:137px;
}

#articleThumbnails
{
    float:right;   
}

#articleThumbnails img
{
    display: block;
}

/*Breadcrumb*/
.divBreadcrumb
{
	font-size: 10pt;
	margin-bottom: 5px;
}

.divBreadcrumb a.navlink,
.divBreadcrumb a.navlink:link,
.divBreadcrumb a.navlink:hover,
.divBreadcrumb a.navlink:visited
{
	color: #90593A;
	font-weight: bold;
	text-decoration: underline;
}

/* Search Results */
.divSearchResults .title 
{
	font-weight: bold;
	font-size: 15pt;
	color: #666666;
}

.divSearchResults .description 
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.divSearchResults .results .label
{
	font-weight: bold;
}

.divSearchResults .header 
{ 
	font-weight: bold;
	font-size: 9pt;
}

.divRelatedItemsText
{
	font-size:8pt;
}

.txtName
{
	width:300px;
}


#divEmailAFriend
{
	float:left;
}
#divPrinterFriendly
{
	float:right;
}
	
#divControls
{
	width:100%;
	clear:both;
}

.item_listing
{
	padding: 5px 5px 5px 5px;
	margin-bottom: 11px;
	clear:both;
}
.item_listing_thumbnail
{
	float: left;
	margin-left: 5px;
	margin-right: 10px;
	width:85px;
	height:85px;
	background-image:url(images/thumbnail.gif);
	background-repeat:no-repeat;
}
.item_listing_nothumbnail
{
    display:none;
}

.item_listing_thumbnail_image
{
	width:85px;
	height:85px;
}

.List .item_listing_thumbnail_image, .List .item_listing_thumbnail, .List .item_listing_abstract, .List .item_listing_readmore, .List .item_listing_category
{
	display: none;
}

.List .item_listing
{
	padding: 1px 2px 1px 2px;
	margin-bottom: 2px;
}

.divItemApprovalSection
{
	width:100%;
	padding-left:15px;
}

.divAdminMenuWrapper
{
	border:solid 1px gray;
	background-color: #f1f1f1;
	padding:15px;
}

.Publish_ApprovalComments
{
	height:50px;
	width:300px;
	margin-bottom:5px;
}

.Publish_VersionComments
{
	padding:5px;
	border:dashed 1px #000;
	clear:right;
	margin-top:5px;
	margin-bottom:10px;
	width:95%;
}

#divAdminLinks
{
	clear:both;
	width:100%;
	padding-bottom:9px;	
}

#divAdminLinks ul
{
	margin-left:0;
	text-indent:0;	
	display:inline;
	
}

#divAdminLinks li
{
	list-style-type:none;
	padding-right:5px;
	float:left;
}

#PublishStatsContent
{
	text-indent:15px;
}

#PublishStatsContent a
{
	text-decoration:underline;
}
#PublishStatsLabel
{
	font-weight:bold;
}

.lblApprovalResults
{
	float:left;
}

.divRelatedArticle
{
	width:300px;
	border:solid 1px #000;
	float:right;
}

/*these settings are for the Publish Settings table, loaded by the admin controls */

#PublishSettingsTable
{margin-top:15px;
}
#PublishSettingsTable tr
{
	vertical-align:top;
	height:25px;
}

.listing_table_head_row
{
	 background-color: Gray;
	 font-weight: bold;
	 color: White;
}

.AdminContainerImagesHeight
{
	height:45px;
}

/*Rating Control*/
.ratingStar {
    font-size: 0;
    width: 13px;
    height: 12px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image: url(Images/FilledStar.png);

}

.emptyRatingStar {
    background-image: url(Images/EmptyStar.png);
}

.savedRatingStar {
    background-image: url(Images/SavedStar.png);
}

/*Modal Popup*/
.simplemodal-overlay 
{
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	height:100%;
	width:100%;
}

.commentPopup {
	background-color:#ffffdd;
	border:3px solid Gray;
	padding:3px;
	width:300px;
}

.CommentValue
{
	margin:1px;
	width:95%;
}

#CommentName
{
	float:left;
}

#CommentCreatedDate
{
	float:left;
}
.PublishComment
{
	background-color:#f0efef;
	padding:3px;
	border:solid 1px #b0b0b0;
	display:block;
	margin-bottom:5px;
}

.PublishCommentWrapper
{
	overflow:auto;
	
}

.PublishNoComments
{
	clear:both;
}

.PublishCommentAlternate 
{
	background-color:#fcf7f7;
}

.commentTextbox
{
	height:100px;
	width:250px;
}

#divCommentsDisplay
{
	clear:both;
}

.progressUpdate
{
	position:fixed;
	top:0;
	left:0;
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
	height:100%;
	width:100%;
	z-index:11;
}

.progressWrap
{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:14;
}

.progressUpdateMessage
{
	position:relative;
	top:50%;
	background-color:#fff;
	width:300px;
	height:100px;
	border:solid 2px Gray;
	filter:alpha(opacity=100);
	opacity:1.0;
	text-align:center;
	z-index:15;
	left:50%;
	margin-left:-150px;
}

/* this class is used if you enable highlighting the current item in the module settings */
.NLevelCurrentItem
{
	font-weight:bold;
}

.tbButton
{
	padding-left:5px;
}

.tbButtonHover
{
	padding-left:5px;
	text-decoration:underline;
	cursor:pointer;
}


.toolbar
{
	position:absolute;
	z-index:13;
	background-color:#fff;
	border:solid 1px #000;
	width:400px;
	top:-5px;
	padding:5px;
	
}	

/**************************************/
/*Gallery Intergration Thumbnail Popup*/
/**************************************/

.publishArticleThumbnail {
    border:1px solid #000;
    margin: 5px;
}

a.mouseOverImage, a.mouseOverImage:visited
{
    display:block;
    text-decoration:none;
}

a.mouseOverImage:hover
{
    color:#000;
    text-decoration:none;
}

.publishArticleThumbnailWrapper
{
    cursor: default;
}


.mouseOverPopup
{   cursor: default;
	top: -150px;
}


.categoryItemList .itemDate
{
	float:right;
	padding-right:3px;
}

.categoryItemList .itemReadmore
{
	clear:both;
	text-align:right;
}

.categoryItemList .itemTitle
{
	float:left;
	width:100%;
}

.categoryItemList .itemAuthor
{
	float:left;
	clear:left;
}

.categoryItemList .itemEditLink
{
	float:right;
}
.categoryItemList .itemDescription
{
	clear:right;
}
.categoryItemList .itemThumbnail
{
	float:left;
	padding-right:5px;
}

.categoryItemList .divItemContent
{
	float:left;	
}

.categoryItemList .lnkTitle
{
	float:left;
}

.categoryItemList
{
	display:block;
	clear:both;
	background-color:#f0efef; /* the background color for the listing */
	margin-bottom:3px; /*this adds spacing below each listing, cleaning up the look */
	padding:0; /*this would add some spacing around the inside of the div, but causes issues in IE7 */
	display:inline-block; /*this enables the div to wrap around items in IE7 */
	border:solid 1px #b0b0b0; /*adds a border to the bottom of each listing */
	width:100%;
}

.altCategoryItemList
{
	background-color:#fcf7f7; /* the background color for the listing */
}


.categoryDisplayArticle .categoryItemList
{
	background:none;
	border:0 solid #000;
	padding:0;
	margin:0;
}

.categoryDisplayCategory .categoryItemList
{
	background:none;
	border:0 solid #000;
	padding:0;
	margin:0;

}


/* div used on the Article and Category Edit pages for providing instructions to the user */
.instructions
{
	margin-left:50px;
	margin-right:50px;
	border:solid 1px black;
	padding:5px;
	background-color:#ccc;
}


.publishDescriptionEditor
{
	width:100%;
	vertical-align:top;
}

.publishDescriptionTxt
{
	width:100%;
	height:250px;
	
}

.publishVersionDescription
{
	width:300px;
	background:#f1f1f1;
	border:solid 3px #ccc;
	padding:3px 3px 3px 3px;
}

.Publish_CommentApproval
{
	width:300px;
	background:#f1f1f1;
	border:solid 3px #ccc;
	padding:3px 3px 3px 3px;
}

.Publish_CommentApprovalComment
{
	float:left;
	clear:left;
}
.Publish_CommentApprovalEmailAddress
{
	float:left;
	clear:left;
}

.Publish_CommentApprovalName
{
	float:left;
	clear:left;
}

.Publish_CommentApprovalUrl
{
	float:left;
	clear:left;
}


.publishTextBoxWidth
{
	width:100%;
}

.publishTextBoxHeight
{
	width:250px;
}


#publishTagCloud ol li span
{
	position:absolute; 
	left:-999px; 
	width:990px;
}

 #publishTagCloud li { display: inline; }

/*Publish Tag Sizes*/
#publishTagCloud .size1 a
{
	font-size:1em;
}
#publishTagCloud .size2 a
{
	font-size:1.2em;
}
#publishTagCloud .size3 a
{
	font-size:1.4em;
}
#publishTagCloud .size4 a
{
	font-size:1.6em;
}
#publishTagCloud .size5 a
{
	font-size:1.8em;
}
#publishTagCloud .size6 a
{
	font-size:2.0em;
}

#Publish_CategorySortSortedListDiv
{
	float:right;
	padding-left:15px;
	width:50%;
}

#Publish_CategorySortInitialListDiv
{
	float:left;	
}

.Publish_CategorySortDelete
{
	float:right;
}

.Publish_CategorySortUnsortedList
{
	height:150px;
	width:300px;
}

#publishSortSave
{
	clear:both;
	text-align:center;
}

.Publish_ArticleTags
{
	border:dashed 1px #003;
	margin:5px 0 15px 0;
	padding:3px 3px 3px 3px;
}


.Publish_CategorySortedList
{
	border:solid 1px #003;
}

.Publish_CategorySortedList li
{
	list-style-type:none;
	margin-left:-30px;
}

.Publish_CategorySortedItem
{
	height:25px;
	white-space:nowrap;
}

.Publish_SortItem
{
	white-space:nowrap;
	color:#003;
}


.Publish_CategorySortItemDrop
{
	height:25px;
	border:dotted 2px #003;
}

.Publish_ItemViewReport
{
	border:dashed 1px #000;
	width:100%;
	padding:3px;
}

.Publish_ItemViewReportOptionLabel
{
	float:left;
}

.Publish_ItemViewReportOption
{
	float:left;
	padding-left:5px;
	padding-right:5px;
}

.Publish_ItemViewReportCalendar
{
	width:75px;
}


.Publish_CustomDisplayPaging
{
	clear:both;
}

.Publish_CheckBoxColumn
{
	width:25px;
}

.DataGrid_Header
{}
.DataGrid_Header th, .DataGrid_Header th a
{
	 background-color: Gray;
	 font-weight: bold;
	 color: White;
}
.DataGrid_Item
{
	width:100%;
}
.DataGrid_Item td
{
	background-color: #fff;
}
.DataGrid_AlternatingItem
{
	width:100%;	
}
.DataGrid_AlternatingItem td
{
	background-color: #f1f1f1;
	color:#000;
}
.DataGrid_Item td, .DataGrid_AlternatingItem td
{	
	padding:3px;
}

.Publish_ListItems
{
	width:250px;
	height:200px;
}

.Publish_ParentCategory
{
	height:30px;
}

.CustomList_ParentCategory
{
	
}
.CustomList_ParentCategoryName
{
	
}
.CustomList_ParentCategoryDescription
{
	
}

.divItemsListing h1, .divItemsListing h2
{
	margin-top:0px;
	margin-bottom:0px;
}

/*Publish Admin edit styles */
.PublishEditTable
{
	width:100%;
}


.PublishEditTable td
{
	padding:3px;
}

.PublishSettingsTable
{
	width:100%;
}

.PublishSettingsTableLabelColumn
{
	width:40%;
}


/*Publish Comment List*/
.Publish_AdminCommentText
{
	width:60%;
}


/*Module Settings*/
.TemplateTextBox
{
	width:300px;
	height:150px;
}

/****** DNN 6 style override/update ************/
.dnnFormItem input[type="email"] {min-width:35%} /* match type="text" */
.commentPopup .dnnFormItem label, .commentPopup .dnnFormItem .dnnFormLabel, .commentPopup .dnnFormItem .dnnTooltip {width:35%;} /* comment popup is just small enough at standard 30% to clip first label */