

#publishTagCloud ol li span
{
	position:absolute; 
	left:-999px; 
	width:990px;
}

 #publishTagCloud li { display: inline; }

/*Publish Tag Sizes*/
#publishTagCloud .size1 a
{
	font-size:1em;
}
#publishTagCloud .size2 a
{
	font-size:1.2em;
}
#publishTagCloud .size3 a
{
	font-size:1.4em;
}
#publishTagCloud .size4 a
{
	font-size:1.6em;
}
#publishTagCloud .size5 a
{
	font-size:1.8em;
}
#publishTagCloud .size6 a
{
	font-size:2.0em;
}
