

#publishTagCloud ol li span
{
	position:absolute; 
	left:-999px; 
	width:990px;
}

 #publishTagCloud LI { display: inline; }

/*Publish Tag Sizes*/
.size1
{
	font-size:1em;
}
.size2
{
	font-size:1.2em;
}
.size3
{
	font-size:1.4em;
}
.size4
{
	font-size:1.6em;
}
.size5
{
	font-size:1.8em;
}
.size6
{
	font-size:2.0em;
}